 <launch>
    <arg name="ros_ip" default="10.42.0.12" />
    <param name="ROS_IP" value="$(arg ros_ip)" />

    <!-- Start MuSHR nodes -->
    <include file="$(find mushr_base)/launch/teleop.launch"/>
    <include file="$(find mushr_base)/launch/includes/map_server.launch" />

    <!-- Add RL node -->
    <node name="rl_navigator" pkg="your_pkg" type="rl_navigator.py" output="screen" />
</launch>
